* text=auto !eol
/apertium-cy-es.cy-es.dix -text
/apertium-cy-es.cy.dix -text
/apertium-cy-es.es.dix -text
dev/cross-model-cy-en-es.xml -text
dev/cross.xml -text
dev/patterns-not-detected.xml -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
